@page "/FileImport"
@inject IJSRuntime JsRuntime

<div class="container bg-white mx-auto text-center p-5">
    <div class="display-6">EDS calculator</div>

    <div id="chart_div" class="card shadow m-5" style="height: 400px;"></div>

    <div class="d-inline-block m-4">
        <button class="btn btn-primary" @onclick="() => PlotRandomXY(cleanDataX.ToArray(), cleanDataY.ToArray())">Write</button>

    </div>


    <div>
        <textarea @bind="Description" @onclick="() => PlotRandomXY(cleanDataX.ToArray(), cleanDataY.ToArray())" />
    </div>

    <div>
        <textarea @bind="Description2" @onclick="() => PlotRandomXY(cleanDataX.ToArray(), cleanDataY.ToArray())" />
    </div>



    <div class="d-inline-block m-4">
        <Microsoft.AspNetCore.Components.Forms.InputFile OnChange="@OnInputFileChanged"> id="flpicker" </Microsoft.AspNetCore.Components.Forms.InputFile>
    </div>
</div>




@code{
    private void PlotData(double[] xs, double[] ys)
    {
        JsRuntime.InvokeVoidAsync("createNewChart", new { xs, ys });
    }




    string dataFromFile;
    public string Description { get; set; } = "nothing here";
    public string Description2 { get; set; } = "nothing here";

    // Variables for filtering, contains clean data for plotting
    public static List<double> cleanDataX = new List<double>();
    public static List<double> cleanDataY = new List<double>();
    public static List<string> cleanText = new List<string>();

    private void PlotRandomXY(double[] xData, double[] yData)
    {
        Description = "";
        Description2 = "";
        foreach (double item in xData)
        {
            Description = Description + item.ToString() + "\n";
        }

        foreach (double item2 in yData)
        {
            Description2 = Description2 + item2.ToString() + "\n";
        }

        PlotData(xData, yData);
    }


    private async Task OnInputFileChanged(InputFileChangeEventArgs inputFileChangeEvent)
    {
        var file = inputFileChangeEvent.File;

        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        dataFromFile = System.Text.Encoding.UTF8.GetString(buffer);

        FilterDataNoran(dataFromFile);
    }



    private void FilterDataNoran(string rawData)
    {
        string[] rawDataArray = rawData.Split("\n");
        int i = 0;
        bool spectrum = false;

        foreach (var data in rawDataArray)
        {
            var dataCleaned = data.Trim(new Char[] { ' ', '\n', '\r', '\'' });
            if (dataCleaned.Contains("#SPECTRUM"))
            {
                spectrum = true;
            }
            else if (spectrum) // so the first run with Spectrum in the text is not parsed
            {
                var dataCleanedSpectrum = dataCleaned.Split(",");
                bool isDoubleX = double.TryParse(dataCleanedSpectrum[i], out double doubleElementX);
                bool isDoubleY = double.TryParse(dataCleanedSpectrum[i + 1], out double doubleElementY);
                if (isDoubleX & isDoubleY)
                {
                    cleanDataX.Add(doubleElementX);
                    cleanDataY.Add(doubleElementY);
                }
            }
            else
            {
                cleanText.Add(dataCleaned);
            }
        }

    }



    private List<double> FilterDataThermo(string rawData)
    {
        string[] rawDataArray = rawData.Split(";");

        string[] splitData = new string[rawDataArray.Length];
        List<double> cleanData = new List<double>();
        List<string> cleanText = new List<string>();

        foreach (var data in rawDataArray)
        {
            var dataCleaned = data.Trim(new Char[] { ' ', '\n', '\r', '\'' });
            bool isDouble = double.TryParse(dataCleaned, out double doubleElement);
            if (isDouble)
            {
                cleanData.Add(doubleElement);
            }
            else
            {
                cleanText.Add(dataCleaned);
            }
        }
        return cleanData;
    }


}